/* Universal Styles  */



html {
  font-size: 18px;
  background-color: white;
}

body {
  font-family: Helvetica, sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  /* the entire page (except for the header) has a class of "container" so these apply to all. */
}

h1,
h4 {
  font-weight: bold;
}


/* Header */

.company {
  color: white;
  background-color: black;

}

.company .container {
padding: .66rem 0 .66rem .5rem;
/* padding top, right, bottom, left  */

/*  flex */
  display: flex;
  align-items: center;
}

.company img {
  height: 1.5rem;
  padding-right: 1rem;
}

/*Main Banner  */
.main-banner {
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.headlines {
  background-color: black;
  color: white;
  width: 20rem;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
  /* last two work together. */
}

.headlines h1 {
  font-family: Helvetica;
  /* why do we need this twice?  */
  font-size: 2rem;
  font-weight: bold;
  /* twice again ? */
  margin-left: 0 .25rem 0;
}

/* Navigation */

nav {
    background-color: firebrick;
}

nav .container {
    color: white;
    padding: 0.75rem 0rem;

    /* flex items */
    display: flex;
    justify-content: space-around;
}

/* Products and Business */

.products {
    display: flex;
    justify-content: space-around;
}

.product {
    width: 30%;
    margin-top: 3rem;
    border: 4px solid black;
}


.product-image img {
    height: 9rem;
    width: 83%;
    margin-left: 1rem;
    padding: 2rem 0rem 2rem 0rem;
}

.product-watch {
    width: 30%;
    margin-top: 3rem;
    border: 4px solid black;
}

.product-glasses {
    width: 30%;
    margin-top: 3rem;
    border: 4px solid black;
}

.description {
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
}

.business-info {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.info {
    width: 35%;
    margin-left: 0.6rem;
}

.title {
    display: flex;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    background-color: black;
}

/* footer */

footer {
    height: 5rem;
    margin-top: 4rem;
    color: white;
    background-color: black;
}

footer .container {
    padding-top: 2rem;
}
